@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

.navbar-brand{
    color: red;
    font-family: 'Marvel', sans-serif;
    font-size: 200%;
  }
.navbar.bg-dark{
    margin-bottom: 20px;

}
.comicMargin{
    margin-top: 20px;
}