<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">PERSONAJES MARVEL</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (keyup)="obtenerPersonajePorNombre($event)"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let personaje of todosLosPersonajes | async"
      ><mat-card
        class="example-card"
      >
        <mat-card-title-group>
          <mat-card-title>{{personaje.name}}</mat-card-title>
          <mat-card-subtitle>{{personaje.modified | date}}</mat-card-subtitle>
          <img
            mat-card-xl-image
            src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}"
          />
        </mat-card-title-group>
      </mat-card></mat-grid-tile
    >
  </mat-grid-list>
  <div *ngIf="!todosLosPersonajes">
    sin resultados
  </div>
</div>
